{% load crispy_forms_tags %}
{% load static %}
<head> 
    <meta charset="UTF-8"> 
    <title>X-Ray</title> 
    
{% comment %}     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
`   <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&display=swap" rel="stylesheet"> {% endcomment %}
      <link rel="stylesheet" href="{% static 'root/main.css' %}">
</head> 


<body>
<header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
           
            
            <span class="navbar-toggler-icon"></span>
           
            <div class="collapse navbar-collapse" id="navbarToggle">
             
             
            </div>
          </div>
        </nav>
      </header>

   
    <div class="content-section">
        
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend> Login</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class= "btn" type="submit">Sign in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
               Need an account?<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>

    </div>
    
</body>